# Presto

Detail information:  

Database Germany  
discover_german_mariadb
MariaDB  
Endpoint:  
jdbc:mysql://germandb.ezmeral.de:31219  
Username:  
dderichswei  
DB-Name:  
discover  
  
  
Database Czech  
discover_czech_mysql 
MySQL  
Endpoint:  
jdbc:mysql://czechdb.ezmeral.de:31969  
Username:  
dderichswei  
DB-Name:  
discover  
  
Database Swiss  
discover_swiss_mysql
MySQL  
Endpoint:   
jdbc:mysql://swissdb.ezmeral.de:31870  
Username:  
dderichswei  
DB-Name:  
discover



```sql
SELECT product, SUM(qty) AS total_quantity_sold
FROM (
  SELECT product, qty
  FROM czech_mysql.discover.czech
  UNION ALL
  SELECT product, qty
  FROM german_mariadb.discover.germany
  UNION ALL
  SELECT product, qty
  FROM swiss_mysql.discover.swiss
) AS combined_sales
GROUP BY product
ORDER BY total_quantity_sold DESC
LIMIT 10;





select CASE when country='Swiss' then 'Switzerland' end as country from discover_end2end.discover_select_all_countries


select CASE when country='Swiss' then 'Switzerland' end AS country from (select * FROM discover_czech_mysql.discover.czech UNION ALL SELECT * FROM discover_german_mariadb.discover.germany UNION ALL select * from discover_swiss_mysql.discover.swiss

select CASE when country='Swiss' then 'Switzerland' else country end AS country from (select * FROM discover_czech_mysql.discover.czech UNION ALL SELECT * FROM discover_german_mariadb.discover.germany UNION ALL select * from discover_swiss_mysql.discover.swiss) where country='Switzerland'

https://home.hpe-ezaf.com/

SELECT * FROM discover_czech_mysql.discover.czech 
UNION ALL 
SELECT * FROM discover_german_mariadb.discover.germany 
UNION ALL 
(SELECT 
CASE 
   WHEN country='Swiss' then 'Switzerland' 
   ELSE country 
END
AS country, discover_swiss_mysql.discover.swiss.* 
from discover_swiss_mysql.discover.swiss)


    SELECT * FROM discover_czech_mysql.discover.czech
    UNION ALL 
    SELECT * FROM discover_german_mariadb.discover.germany 
    UNION ALL 
    (SELECT
      PRODUCTID
      ,PRODUCT
      ,TYPE
      ,UNITPRICE
      ,UNIT
      ,QTY
      ,TOTALSALES
      ,CURRENCY
      ,STORE
      ,CASE WHEN country='Swiss' then 'Switzerland' ELSE country END AS COUNTRY
      ,YEAR
    FROM discover_swiss_mysql.discover.swiss)


```